{% extends 'layout.html' %}

{% block content %}
    <h3>Api release notes</h3>
    <h5>Register- /register/{username}/{password}/</h5>
    <h5>Login- /login/{username}/{password}/{user id}</h5>
    <h5>Logout- /logout</h5>
    <h5>Delete user- /users/delete/{user id}</h5>
    <h5>All users- /users/all</h5>
    <h5>Upload- /upload</h5>
    <h5>Download files- /uploads/download/{upload id}</h5>
    <h5>Show files- /uploads/show/{upload id}</h5>
    <h5>Delete upload- /uploads/delete/{upload id}</h5>
    <h5>All uploads- /uploads/all</h5>
    

{% endblock content %}